* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserat;
  font-weight: 600;
  cursor: default;
  scroll-behavior: smooth;
  list-style-type: none;
}

body {
  background-color: #eee;
  min-height: 100vh;
}

@font-face {
  font-family: Montserat;
  src: url("../../../assets/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Montserat;
  src: url("../../../assets/fonts/Montserrat-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: Montserat;
  src: url("../../../assets/fonts/Montserrat-Medium.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Montserat;
  src: url("../../../assets/fonts/Montserrat-Medium.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Muller;
  src: url("../../../assets/fonts/muller/Fontfabric - MullerExtraBold.otf");
  font-weight: 700;
}