* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserat;
  font-weight: 600;
  cursor: default;
  scroll-behavior: smooth;
  list-style-type: none;
}

@font-face {
  font-family: Montserat;
  src: url("../../../assets/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Montserat;
  src: url("../../../assets/fonts/Montserrat-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: Montserat;
  src: url("../../../assets/fonts/Montserrat-Medium.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Montserat;
  src: url("../../../assets/fonts/Montserrat-Medium.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Muller;
  src: url("../../../assets/fonts/muller/Fontfabric - MullerExtraBold.otf");
  font-weight: 700;
}
.courses {
  background-image: none;
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: 0;
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 50px;
}

.courses__search-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.courses__search-box-search {
  background-color: #fff;
  height: 60px;
  margin-bottom: 34px;
  border-radius: 8px;
  width: 70%;
  display: flex;
  gap: 20px;
  box-shadow: 0px 4px 19.1px -3px rgba(0, 0, 0, 0.2509803922);
}

.courses__search-box-search-img {
  margin-left: 23px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.courses__search-input {
  width: 100%;
  height: 100%;
  transition: 0.3s ease-out;
  font-family: Muller;
  font-weight: 800;
  font-size: 20px;
  border-radius: 8px;
  border: none;
}
.courses__search-input:focus {
  outline: none;
}

.courses__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.courses__title {
  font-size: 35px;
  color: #283a97;
  font-weight: 900;
  text-align: center;
  margin-bottom: 20px;
}