* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserat;
  font-weight: 600;
  cursor: default;
  scroll-behavior: smooth;
  list-style-type: none;
}

@font-face {
  font-family: Montserat;
  src: url("../../../assets/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Montserat;
  src: url("../../../assets/fonts/Montserrat-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: Montserat;
  src: url("../../../assets/fonts/Montserrat-Medium.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Montserat;
  src: url("../../../assets/fonts/Montserrat-Medium.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Muller;
  src: url("../../../assets/fonts/muller/Fontfabric - MullerExtraBold.otf");
  font-weight: 700;
}
.header {
  height: 70px;
  position: sticky;
  z-index: 10;
  top: 0px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 0;
  background-color: #283a97;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 2px 11.9px 0px rgba(0, 0, 0, 0.2509803922);
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__menu img {
  height: 30px;
  width: 150px;
}

.header__logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease-out;
}
.header__logo:hover {
  color: rgba(195, 195, 196, 0.993);
}

.logo__text {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 900;
}

.header__profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 30px;
}
.header__profile img {
  width: 20px;
  height: 20px;
}

.header__profileButtonBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header__profileImgBlock {
  width: 40px;
  height: 40px;
  background-color: #e4e4e4;
  border-radius: 50px;
  display: flex;
  flex-direction: 0;
  justify-content: center;
  align-items: center;
}

.header__links {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__profileButtonBlock {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0;
  height: 100%;
  transition: 0.3s ease-out;
}
.header__profileButtonBlock:hover {
  background-color: rgba(145, 130, 165, 0.452);
}

.profile__arrow {
  transition: 0.3s ease-out;
  transform: rotate(-45deg);
}
.profile__arrow:hover {
  background-color: rgba(255, 255, 255, 0);
}

.Arrow-off {
  transition: 0.3s ease-out;
  transform: rotate(45deg);
}

.Arrow-on {
  transition: 0.3s ease-out;
  transform: rotate(-45deg);
}

.block-on {
  transition: 0.3s ease-out;
  background-color: rgba(145, 130, 165, 0.452);
}

.block-off {
  transition: 0.3s ease-out;
  background-color: #283a97;
}

.header__img-menu {
  transition: 0.3s ease-out;
  border-radius: 50px;
  width: 50px !important;
  height: 50px !important;
  margin-right: 30px;
}
.header__img-menu:hover {
  background-color: rgba(145, 130, 165, 0.452);
}